# Это django project добавь в .gitignore
# Папка с виртуальным окружением
.venv/
# *.pyc файлы
*.pyc
# Папка с кэшем
__pycache__/
# .env файл
.env
# db файл1
db.sqlite3
# .vscode настройки
.vscode/
# .ruff_cache
.ruff_cache/